#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
}

#root h1,h2,h3,h4,p {
  margin: 0;
}

.page-content.homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

